html{
    background-color: #fff;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

header{
    background-color: #3be15b;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 8px;
    font-family: 'Roboto', sans-serif;
}

nav{
    color: #000;
    padding: 0px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;

}

a:hover{
    color: #fff;
    padding: 0px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

section{
    padding: 20px;
    margin: 30px;
    text-align: center;
    border-radius: 15px;
    background-color: darkolivegreen;
    text-align: center;
    font-size: 20px;

    font-family: 'Roboto', sans-serif;
}

#imgSae{
    width:50%;
    height: 50%;

}

#divPres{
    display: flex;
    justify-content: space-around;
}

#divPres>div{
    width: 50%;
    text-align: left;
}

#imgRemi{
    width:25%;
    height: 25%;
}

